extends layout

block content
	#login_block
		h2 Войдите в свой аккаунт
		form(method='post' action='/')
			span Email
			input#login(type='email' name='login' placeholder='user_example@example.com')
			span Пароль
			input#password(type='password' name='password' placeholder='password')
			button#submit(type='submit') Вход
			a(href='/register') Регистрация
		span.soc_title Войти используя свой аккаунт
		.social_block
			ul
				li(style='float: left')
					a(href='/auth/facebook/' style='background-position: 0 0;')
				li(style='float: right')
					a(href='' style='background-position: 100% 0;')