doctype
html(lang='ru')
	head
		title quicklife | 404
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='../styles/error.css')
	body
		#container
			.error
				.err_header
					h1 quicklife
				.err_content
					#err_status
						h3= err_status
					#err_description
						h3= err_description
				.err_footer
					span Администрация сайта quicklife.net приносит свои извинения за предоставленные неудобства
